= form_for [@task_list, @task] do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task list from being saved:
      %ul
      - @task.errors.full_messages.each do |msg|
        %li
          = msg
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :description
    %br
    = f.text_area :description
  .field
    = f.label :priority
    %br
    = f.select :priority, 0..6
  - if !@performers.nil?
    = f.label :performer_id
    = f.select :performer_id, options_from_collection_for_select(@performers, 'id', 'name')
  .actions
    = f.submit