<div id="state"><%= link_to 'All', user_task_list_tasks_url %> <%= link_to 'Done', user_task_list_tasks_url+'/done' %> <%= link_to 'In process', user_task_list_tasks_url+'/inprocess' %> <%= link_to 'Not done', user_task_list_tasks_url+'/notdone' %></div>
<h1>All tasks</h1>
<ul id="task">
  <% @tasks.each do |task| %>
    <li class="task_<%= task.state == :"Done" ? 'done' : 'not_done' %> ">
      <span class="name"><%= task.name %></span> -
      <span class="description"><%= task.description %></span>
      <span class="priority_<%= if (task.priority<2)
                                    'low'
                                elsif (task.priority<4)
                                    'middle'
                                else
                                    'high'
                                end %>"><%= task.priority %></span>

      <% if !@project.nil? %>
          <%= link_to "#{task.state}", change_state_user_project_task_list_task_url(@user, @project, @task_list, task) %>
      <% else %>
          <%= link_to "#{task.state}", change_state_user_task_list_task_url(@user, @task_list, task) %>
      <% end %>

      <% if !@project.nil? %>
        <%= link_to 'Edit', edit_user_project_task_list_path(@user, @project, @task_list, task) %>
        <%= link_to 'Destroy', [@user, @project, @task_list, task], confirm: 'Are you sure?', method: :delete %>
      <% else %>
        <%= link_to 'Edit', edit_user_task_list_path(@user, @task_list, task) %>
        <%= link_to 'Destroy', [@user, @task_list, task], confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if !@project.nil? %>
    <%= link_to 'New task', new_user_project_task_list_task_path %>
<% else %>
    <%= link_to 'New task', new_user_task_list_task_path %>
<% end %>