<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<p><%= @task.priority %></p>
<p><%= @task.state %></p>

<% if !@project.nil? %>
    <%= link_to 'Edit', edit_user_project_task_list_task_path(@user, @project, @task_list, @task) %> |
    <%= link_to 'Back', user_project_task_list_tasks_path %>
<% else %>
    <%= link_to 'Edit', edit_user_task_list_task_path(@user, @project, @task_list, @task) %> |
    <%= link_to 'Back', user_task_list_tasks_path %>
<% end %>