<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<p><%= @task.priority %></p>
<p><%= @task.state %></p>

<%= link_to 'Edit', edit_user_task_list_task_path(@user, @task_list, @task) %> |
<%= link_to 'Back', user_task_list_tasks_path %>