- @title = "Users of "+@project.name
.row
  .span4.offset2
    %h2
      Users of
      = @project.name
  .span4.offset2
    = link_to "Invite other user", new_project_user_path, class: 'label label-success'
.row
  .span8.offset2
    %table.table.table-striped
      %tbody
        %tr
          %td
            = @project.user.email
          %td
            %b
              Owner
      - @relationships.each do |relation|
        %tr
          %td
            = relation.user.email
          %td
            = link_to 'Destroy', project_user_path(@project, relation), confirm: 'Are you sure?', method: :delete