- if @user.errors.any?
  #error_explanation
    %b
      = pluralize(@user.errors.count, "error")
    %p
      There were problems with the following fields:
    %ul
      - @user.errors.full_messages.each do |msg|
        %li
          = msg
= form_for(@user, html: {class: 'well'}) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :confirm_password
    = f.password_field :confirm_password
  .actions
    = f.submit(class: 'btn-primary')