<div id="project">
  <% @projects.each do |project| %>
    <div class="item">
        <div class="name"> <%= link_to "#{project.name}",  user_project_task_lists_path(@user, project)%></div>
        <div class="description"><%= project.description %></div>
        <div class="operations">
          <%= link_to 'Edit', edit_user_project_path(@user, project) %>
          <%= link_to 'Destroy', [@user, project], confirm: 'Are you sure?', method: :delete %>
          <%= link_to 'Tasks', user_project_task_lists_path(@user, project) %>
        </div>
    </div>
  <% end %>
</div>

<div id="task_list">
  <% @task_lists.each do |task_list| %>
    <div class="item">
        <div class="name"> <%= link_to "#{task_list.name}",  user_task_list_tasks_path(@user, task_list)%></div>
        <div class="description"><%= task_list.description %></div>
        <div class="operations">
          <%= link_to 'Edit', edit_user_task_list_path(@user, task_list) %>
          <%= link_to 'Destroy', [@user, task_list], confirm: 'Are you sure?', method: :delete %>
          <%= link_to 'Tasks', user_task_list_tasks_path(@user, task_list) %>
        </div>
    </div>
  <% end %>
</div>
