.row
  #task_list
    - @task_lists.each do |task_list|
      .span4
        .item
          .name
            = link_to "#{task_list.name}",  task_list_tasks_path(task_list)
          .description
            = task_list.description
          .operations
            %i.icon-edit
            = link_to 'Edit', edit_task_list_path(task_list)
            %i.icon-remove
            = link_to 'Destroy', [task_list], confirm: 'Are you sure?', method: :delete
            %i.icon-check
            = link_to 'Tasks', task_list_tasks_path(task_list)