  <td><i><%= name %></i></td>
  <td><%= description %></td>
  <td><%= priority %></td>
  <td class="operations">
    <i class="icon-flag"></i>
    <a href="/#/task_lists/<%= task_list_id %>/tasks/<%= id %>" class="change_state"><%= state.replace(/_/g, " ") %></a><br />
    <i class="icon-edit"></i>
    <a href="/#/task_lists/<%= task_list_id %>/tasks/<%= id %>/edit">edit</a><br />
    <i class="icon-remove"></i>
    <a href="/#/task_lists/<%= task_list_id %>/tasks/<%= id %>" class="destroy">destroy</a>
  </td>