.row
  .span4.offset2
    %h2
      Peoples of
      = @project.name
  .span4.offset2
    = link_to "Invite other user", invite_project_url(@project), class: 'label label-success'
.row
  .span8.offset2
    %table.table.table-striped
      %tbody
        %tr
          %td
            = @owner.email
          %td
            %b
              Owner
      - @peoples.each do |people|
        %tr
          %td
            = people.email
          %td
            = link_to 'Destroy', remove_user_project_path(@project, people), confirm: 'Are you sure?', method: :delete