- if @task_list.errors.any?
  #error_explanation
    %b
      = pluralize(@task_list.errors.count, "error")
    %p
      There were problems with the following fields:
    %ul
      - @task_list.errors.full_messages.each do |msg|
        %li
          = msg
= form_for([@project, @task_list], html: {class: 'well'} )do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :description
    %br
    = f.text_area :description
  .actions
    = f.submit(class: 'btn-primary')