- @title = 'All task lists'
- @title += ' of project '+@project.name if @project
%h3
  Task lists
  - if !@project.nil?
    of project
    = @project.name
- if @project
  %p
    = @project.description
#task_list
  = render('shared/task_lists')
- if !@project.nil?
  = link_to('New task list', new_project_task_list_path)
- else
  = link_to('New task list', new_task_list_path)