<div class="span4">
    <div class="item">
        <div class="name">
            <a href="#/projects/<%= id %>/task_lists"><%= name %></a>
        </div>

        <div class="description">
            <%= description %>
        </div>

        <div class="operations">
            <i class="icon-edit"></i>
            <a href="#/projects/<%= id %>/edit">Edit</a>
            <i class="icon-remove"></i>
            <a href="#/projects/<%= id %>/destroy" class="destroy">Destroy</a>
            <i class="icon-list-alt"></i>
            <a href="#/projects/<%= id %>/task_lists">Task lists</a>
        </div>
    </div>
</div>