<div class="span4">
    <div class="item">
        <div class="name">
            <a href="#<%= "id" %>/task_lists"><%= name %></a>
        </div>

        <div class="description">
            <%= description %>
        </div>

        <div class="operations">
            <i class="icon-edit"></i>
            <a href="#/<%= id %>/edit">Edit</a>
            <i class="icon-remove"></i>
            <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
            <i class="icon-list-alt"></i>
            <a href="#<%= id %>/task_lists">Task lists</a>
            <i class="icon-user"></i>
            <a href="#<%= id %>/users">Users</a>
        </div>
    </div>
</div>