.header
  .span12
    .menu
      .btn-group.fl_left
        = link_to "Home", '/#', class: 'btn'
        - if signed_in?
          = link_to "Projects", '/#/projects', class: 'btn'
          = link_to "Task lists", '/#/task_lists', class: 'btn'
          = link_to "Profile",  edit_user_registration_path, class: 'btn'
          = link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn'
        - else
          = link_to "Sign in", new_user_session_path, class: 'btn'
          = link_to "Sign up", new_user_registration_path, class: 'btn'
      - if signed_in?
        .btn-group.fl_left
          != '<a class="btn btn-primary" href="#">Create</a>'
          != '<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">'
          %span.caret
          != '</a>'
          %ul.dropdown-menu
            %li
              = link_to("Project", '/#/projects/new')
            %li
              - if !@project.nil? and controller.action_name != 'new' and controller.action_name != 'create'
                = link_to("Task list", '/#/projects/'+@project.id+'/task_lists/new' )
              - else
                = link_to("Task list", '/#/task_lists/new')
            - if controller.controller_name == 'tasks'
              %li
                = link_to "Task", '/#/task_lists/'+@task_list.id+'/task'
