.header
  .span12
    .menu
      .btn-group.fl_left
        = link_to "Home", '/#', class: 'btn'
        - if signed_in?
          = link_to "Projects", '/#/projects', class: 'btn'
          = link_to "Task lists", '/#/task_lists', class: 'btn'
          = link_to "Profile",  edit_user_registration_path, class: 'btn'
          = link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn'
        - else
          = link_to "Sign in", new_user_session_path, class: 'btn'
          = link_to "Sign up", new_user_registration_path, class: 'btn'
      - if signed_in?
        .btn-group.fl_left
          != '<a class="btn btn-primary" href="#">Create</a>'
          != '<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">'
          %span.caret
          != '</a>'
          %ul.dropdown-menu
            %li.project
              = link_to("Project", '/#/projects/new')
            %li.task_list
            %li.task