%header
  %nav.round
    %ul
      %li
        = link_to "Home", root_path
      - if signed_in?
        %li
          = link_to "Projects", projects_path
        %li
          = link_to "Task lists", task_lists_path
        %li
          = link_to "Sign out", signout_path, :method => :delete
      - else
        %li
          = link_to "Sign in", signin_path
